html{
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.arrow {
  float: right;
  font-size: 24px;
}

.worklabel{
  width:474px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;

  display: inline-block;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.content-wrapper {
  height: auto;
  padding-left: 12.5%;
  padding-right: 5.5%;
  padding-bottom: 100px;
  /* position: absolute; */
  /* display: flex;
  flex-direction: column; */
  justify-content: right;
}

body {
font-family: 'Source Serif Pro', serif;
color: #323232;
}

a{
text-decoration: none;
color: inherit;
}

.headomobile{
font-size: 55px !important;
}

main {
box-sizing: border-box;
min-height: 100%;
margin: 0 auto;
}

/* p {
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
} */

.main-header {
height: auto;
margin-top:20%;
align-items:right;
width: 90%;
}

.main-headerabout {
height: auto;
align-items:right;
width: 90%;
}

a:hover { text-decoration: none; color: #F49342}
a:visited { text-decoration: none;}
a:focus { text-decoration: none; color: #F49342}
a:active { text-decoration: none; color: #F49342}

.portfolio {
/* margin-top: 6%; */
width: 90%;
margin-bottom: 100px;
}

.rectangle {
position: relative;
  margin-top: 10%;
  max-width: 60%;
  max-height:30%;
}

.rectangle img{
max-height: 100%;
max-width: 100%;

height: 100%;
width: 100%;
}

.home {
float: left;

margin-top:20px;
font-size:36px;
font-weight: bold;

font-family: 'Nunito Sans', sans-serif;
}

.links li{
padding-left:48px;
margin-top:20px;
float:right;
font-weight:400;
font: size 36px;

font-family: 'Nunito Sans', sans-serif;
}

.footerlinks li{
padding-left:18px;
margin-top:50px;
float:left;
font-weight:400;
font-size:36px;
}

footer{
 left:0px;
 bottom:0;
 width:100%;
}

h1{
font-family: 'Source Serif Pro', serif;
font-style: normal;
font-weight: 900;
font-size: 72px;
margin-bottom: 0px;
text-align:left;
}

h1:hover{
text-decoration: none !important;
}

.header-text {
width: 100%;
top: 10%;
}

.navbar {
margin-top: 5%;
width: 90%;
font-size:36px;
}

.footer {
max-height: fit-content;
display: block;
}

.footer ul {
font-family: 'Nunito Sans', sans-serif;

list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

.navbar ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

.about{
font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
text-align: left;
max-width:75%;

color: #323232;
}

.aboot{
font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 30px!important;
line-height: 30px;
max-width:90%;
text-align: left;

margin: 0;

color: #323232;
}

.abooot{
font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
max-width:100%;
text-align: left;

margin: 0;

color: #323232;
}

.column {
display: flex;
flex-direction: column;
flex-basis: 100%;
flex:1;
max-width:100%;
height:100%;
text-align: center;
min-width:50%;

border-radius: 2px;
}

.column:hover img{
background-color: #fff;
opacity: 0.38;
}

.column img{
transition: opacity 192ms ease;
}


.column .hover{
opacity:0;
position: absolute;
/* width:calc(100% - 40px);
height:calc(100% - 60px); */
overflow: hidden;
top:0;

border-radius: 2px;

display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
align-items: center;
justify-content: center;
}


.column .hover p {
position: absolute;

text-align: center;
width:50%;
font-size:20px;
color: #323232;
font-weight: 400;
}

.descrip {
font-family: 'Nunito Sans', sans-serif;

font-weight: 300;
font-size: 16px;
}

.column:hover .hover{
opacity:1;
transition: opacity 0.15s linear;
}

.left{
margin: 16px 0px 60px 0px;
background-color:#fff;
}

.right{
margin: 16px 0px 60px 0px;
background-color:#fff;
}

.column img{
width:100%;
overflow: hidden;
display: inherit;
}

.l-text{
font-size: 18px;
font-family: 'Nunito Sans', sans-serif;
}

.ll-text{
font-size: 18px;
font-family: 'Nunito Sans', sans-serif;

cursor: default;
}

.r-text{
padding-left: 30px;
}

