  @keyframes slideInFromBottom {
    0% {
      transform: translateY(25%);
      opacity: 0.1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  
  @keyframes slideSide {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(4%);
      opacity: 1;
    }
  }
  
  
  blue {
   background-color: #D4D7FE;
   padding-top: -16px;
   padding-bottom: -16px;
   padding: 6px;
   border-radius: 10px;
  }
  
  ::selection {
    background: #D4D7FE; /* WebKit/Blink Browsers */
    color: #FFFFFF;
  }
  ::-moz-selection {
    background: #D4D7FE; /* Gecko Browsers */
    color: #FFFFFF;
  }
  
    body {
      background-color: #FFFFFF;
    }

    .portfolio__container {
      max-width: 80%;
      margin: 50px auto; }
      @media screen and (min-width: 61.875em) {
        .portfolio__container {
          max-width: 1000px;
          margin: 150px auto; } 
      }
      @media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
        .portfolio__container {
          max-width: 750px;
          margin: 150px auto; } 
      }
  
    .heading {
      animation: 0.6s ease-in-out 0s 1 slideInFromBottom;
      font-family: 'Nunito', sans-serif;
      color: #666666;
      font-size: 4em;
      font-weight: 700;
      line-height: 1.3em;
      margin-bottom: 0.3em;
    }
  
    .heading h2 {
      font-family: 'Open Sans', sans-serif;
      color: #666666;
      font-size: 0.28em;
      font-weight: 1;
      line-height: 1.5em;
      text-align: left;
      padding-top: 2.5em;
    }
  
    .heading a {
      color: #b4b9fd;
      font-size: inherit;
      font-weight: inherit;
      text-decoration: none;
    }
  
    .heading a:hover{
      color: #3845fa;
    }
  
    .icons {
        animation: 0.7s ease-in-out 0s 1 slideInFromBottom;
        color: #666666;
        font-family: 'Open Sans', sans-serif;
        font-size: 42px;
        letter-spacing: 14px;
        text-align: left;
      }

    .icons a {
        color: #666666;
        font-size: inherit;
        font-weight: inherit;
        text-decoration: none;
    }

    .icons a:hover{
        color: #D4D7FE;
    }
  
    .project__wrapper {
      animation: 0.8s ease-in-out 0s 1 slideInFromBottom;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .project__wrapper a{
      text-decoration: none;
    }
    
    /* 
    * Design by Robert Mayer:https://goo.gl/CJ7yC8
    *
    *I intentionally left out the line that was supposed to be below the subheader simply because I don't like how it looks.
    *
    * Chronicle Display Roman font was substituted for similar fonts from Google Fonts.
    */

    .project {
      display: flex;
      height: 327px;
      width: 747px;
      margin: 50px auto;
      border-radius: 7px 7px 7px 7px;
      /* VIA CSS MATIC https://goo.gl/cIbnS */
      -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    }

    .project:hover, .project:focus, .project:active {
      transform: scale(1.08);
    }

    .project-img {
      display: flex;
      float: left;
      height: 327px;
      width: 420px;
    }

    .project-img img {
      border-radius: 7px 0 0 7px;
      object-fit: cover;
    }

    .project-info {
      float: left;
      height: 327px;
      width: 327px;
      border-radius: 0 7px 10px 7px;
      background-color: #ffffff;
    }

    .project-text {
      height: 300px;
      width: 327px;
    }

    .project-text:a {
      text-decoration: none;
    }

    .project-text h1 {
      margin: 0 0 0 38px;
      padding-top: 52px;
      font-size: 34px;
      color: #474747;
    }

    .project-text h1,
    .project-price-btn p {
      font-family: 'Nunito', serif;
    }

    .project-text h2 {
      margin: 0 0 10px 38px;
      font-size: 13px;
      line-height: 3em;
      font-family: 'Nunito', sans-serif;
      font-weight: 400;
      text-transform: lowercase;
      color: #666666;
      letter-spacing: 0.2em;
    }

    .project-text p {
      height: 125px;
      padding-top: -3em;
      margin: 0 0 0 38px;
      font-family: 'Open Sans', serif;
      color: #8d8d8d;
      font-size: 15px;
      font-weight: lighter;
    }


      