html{
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url("./HKGrotesk-Regular.woff2") format('woff2'),
       url('./HKGrotesk-Regular.woff') format('woff'),
       url('./HKGrotesk-Regular.ttf') format('truetype');

      font-weight: normal;
      font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url("./HKGrotesk-SemiBold.woff2") format('woff2'),
       url('./HKGrotesk-SemiBold.woff') format('woff'),
       url('./HKGrotesk-SemiBold.ttf') format('truetype');

      font-weight: bold;
      font-style: normal;
}

@font-face {
  font-family: 'Freight';
  src: url("./freight-text-pro.woff") format('woff');

      font-weight: bold;
      font-style: normal;
}

.content-wrapper {
    height: auto;
    padding-left: 18.5%;
    padding-right: 11.5%;
    padding-bottom: 100px;
}

.content-wrapperabout {
  margin-top: 12%;
  height: auto;
  display: flex;
  flex-direction: row;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-evenly;
  padding-bottom: 100px;
}

body {
  font-family: 'Freight', serif;
  background-color: rgb(255, 255, 255);
  letter-spacing: 0.025vw;
  color: #000;
  letter-spacing: 0.025vw;
}

a{
  text-decoration: none;
  color: inherit;
}

.headomobile{
  font-size: 24px !important;
  margin-bottom: 5px;
  margin-top: 0px;
}

main {
  box-sizing: border-box;
  min-height: 90%;
  margin: 0 auto;
}

/* p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
} */

.main-header {
  height: auto;
  margin-top:22%;
  width: 90%;
}

.main-headerabout {
  width: 90%;
  padding-left: 100px;
}

/* span{
  font-family: 'HKGrotesk';
  font-weight: normal;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 1rem;
  letter-spacing: 0.025vw;
  color: #141414;
} */

a:hover { text-decoration: none; border-bottom: 1px #F49342; color: #F49342}
a:visited { text-decoration: none;}
a:focus { text-decoration: none; color: #F49342}
a:active { text-decoration: none; color: #F49342}

.portfolio {
  margin-top: 3%;
  width: 100%;
  margin-bottom: 100px;
  position: fixed;
}

.rectangle {
  position: relative;
    max-width: 30%;
    height:10%;
}

.rectangle img{
  max-height: 100%;
  max-width: 100%;

  height: 100%;
  width: 100%;
}

.home {
  float: left;

  margin-top:20px;
  font-size:16px;
  font-weight: bold;
  letter-spacing: 0.025vw;
  
  font-family: 'HKGrotesk', sans-serif;
  color: #141414;
}

.links li{
  padding-left:48px;
  margin-top:20px;
  float:right;
	font-weight:400;
  font-size:16px;
  letter-spacing: 0.025vw;
  
  font-family: 'HKGrotesk', sans-serif;
  color: #141414;
}

.footerlinks li{
  padding-left:48px;
  margin-top:50px;
  float:left;
	font-weight:400;
	font-size:18px;
}

footer{
   left:0px;
   bottom:0;
   width:100%;
}

h1{
  font-style: normal;
  font-weight: 200;
  font-size: 2.5rem;
  letter-spacing: 0px;
  text-align:left;
  line-height: 130%;
  color: #000;
}

h1:hover{
  text-decoration: none !important;
}

.header-text {
  line-height: 55px;
  display: inline-block;
  width: 50%;
  top: 20%;
}

.hoverimage{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

span:hover + .hoverimage{
  visibility: visible;
  opacity: 1;
}

.hovertext {
  font-style: inherit;
  font-weight: inherit;
  pointer-events: auto;
  cursor: default;
}

.bottom{
  /* display: inline-block; */
  float: right;
  text-align: right !important;
}

.navbar {
  width: 90%;
}

.footer {
  max-height: fit-content;
  display: block;
  font-size: 16px;
  margin-bottom: 50px;
}

.footer ul {
  font-family: 'HKGrotesk', sans-serif;
  color: #141414;
  font-size: 16px !important;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.about{
  font-family: 'HKGrotesk', sans-serif;
  color: #141414;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  max-width:66%;
  letter-spacing: 0.025vw;
}

.aboot{
  font-family: 'HKGrotesk', sans-serif;
  color: #141414;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.025vw;
  margin: 0;
}

.abooot{
  font-family: 'HKGrotesk', sans-serif;
  color: #141414;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.025vw;
  margin: 0;
}


.rightpadd {
  padding-left: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100% /* flex-wrap: wrap;*/;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex:1;
  max-width:50%;
  height:100%;
  text-align: center;
  position:relative;
  min-width:50%;

  border-radius: 2px;
}

.column:hover img{
  background-color: #Fff;
  opacity: 0.7;
}

.column img{
  transition: opacity 192ms ease;
}


.column .hover{
  opacity:0;
  position: absolute;
  width:calc(100% - 40px);
  height:calc(100% - 60px);
  overflow: hidden;
  top:0;

  border-radius: 2px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}


.column .hover p {
  position: absolute;

  text-align: center;
  width:50%;
  font-size:20px;
  font-weight: 400;
}

.descrip {
  font-family: 'HKGrotesk', sans-serif;

  font-weight: 300;
  font-size: 16px;
  max-width:80%;
}

.arrow {
  float: right;
  font-size:20px;
}

.worklabel{
  width:275px;
}

.case-content{
  display: block;
  padding-left:20%;
}

.caption-container{
  font-size:11px;
  font-style: italic;
  color:#5f5f5f;
}

.headerimage{
  position: relative;
    max-width: 90%;
    max-height:90%;
    align-items: center;
}

.full-width{
  left: 52%;
    margin-left: -19vw;
    margin-top: 3vw;
    /* margin-right: -12.5vw; */
    max-width: 100vw;
    height: auto;
    padding-bottom: 25px;
    /* position: relative;*/
}

.column:hover .hover{
  opacity:0.5;
  transition: opacity 0.15s linear;
}

.left{
  margin: 26px 40px 20px 0px;
  background-color:#fff;
}

.right{
  margin: 26px 0px 20px 40px;
  background-color:#fff;
}

.column img{
  width:100%;
  overflow: hidden;
  display: inherit;
}

.l-text{
  font-size: 16px;
  color: #141414;
  letter-spacing: 0.025vw;
  opacity: 1;
  font-family: 'HKGrotesk', sans-serif;
}

.ll-text{
  font-size: 16px;
  font-family: 'HKGrotesk', sans-serif;
  cursor: default;
  letter-spacing: 0.025vw;
  opacity: 1;
}

.r-text{
  padding-left: 30px;
}

.yeehaw{
  line-height: 0;
  display: inline;
}

.yeehaw:hover span{
  line-height: 0;
  display: none;
}

.yeehaw:hover:before {content:"天"}

.hoverimage {
  position: fixed;
  top: 6%;
    left: 82%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 56vw;
    height: 56vh;
}

/* h2{
  font-weight: 400;
} */
