.content-wrapper {
    height: auto;
    padding-left: 12.5%;
    padding-right: 5.5%;
    padding-bottom: 100px;
    position: absolute;
    display: flex;
    justify-content: right;
}

body {
  background: #F4F3F0;
  font-family: 'Source Serif Pro', serif;
  color: #323232;
}

a{
  text-decoration: none;
  color: inherit;
}

main {
  box-sizing: border-box;
  min-height: 90%;

}

/* p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
} */

.main-header {
  height: 35vh;
  display: flex;
  margin-top:5%;
  align-items:right;
  max-width: 86%;
}

a:hover { text-decoration: underline; color: #5f5f5f}
a:visited { text-decoration: none;}
a:focus { text-decoration: underline;}
a:active { text-decoration: underline;}

.portfolio {
  position: absolute;
  top: 20rem;
  max-width: 76%;
  display: block;
  margin-bottom: 100px;
}

.rectangle {
  position: absolute;
    left: 10%;
    right: 10%;
    top: 0;
    bottom: 30%;
    background: #F0EAD8;
    z-index: -1;
}

.rectangle img{
  max-height: 100%;
  max-width: 100%;

  height: 100%;
  width: 100%
}

.home {
  float: left;

  margin-top:20px;
  font-size:18px;
  
  font-family: 'Source Sans Pro', sans-serif;
}

.links li{
  padding-left:48px;
  margin-top:20px;
  float:right;
	font-weight:400;
  font-size:18px;
  
  font-family: 'Source Sans Pro', sans-serif;
}

.footerlinks li{
  padding-left:48px;
  margin-top:50px;
  float:left;
	font-weight:400;
	font-size:18px;
}

footer{
   left:0px;
   bottom:0;
   width:100%;
}

h1{
  font-family: 'Source Serif Pro', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  margin-bottom: 5px;
  text-align:left;
}

.header-text {
  width: 100%;
  top: 10%;
}

.navbar {
  max-height: fit-content;
  display: block;
  padding-left: 12.5%;
  padding-right: 12.5%;
}

.footer {
  max-height: fit-content;
  display: block;
}

.footer ul {
  font-family: 'Source Sans Pro', sans-serif;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.about{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  max-width:45%;

  color: #323232;
}

.aboot{
  font-family: Source Serif Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: left;

  margin: 0;

  color: #323232;
}

.rightpadd {
  padding-left: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100% /* flex-wrap: wrap;*/;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex:1;
  max-width:50%;
  height:100%;
  text-align: center;
  position:relative;
  min-width:50%;

  border-radius: 2px;
}

.column:hover img{
  background-color: #fff;
  opacity: 0.38;
}

.column img{
  transition: opacity 192ms ease;
}


.column .hover{
  opacity:0;
  position: absolute;
  width:calc(100% - 40px);
  height:calc(100% - 60px);
  overflow: hidden;
  top:0;

  border-radius: 2px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}


.column .hover p {
  position: absolute;

  text-align: center;
  width:50%;
  font-size:20px;
  color: #323232;
  font-weight: 400;
}

.descrip {
  font-family: 'Source Sans Pro', sans-serif;

  font-weight: 300;
  font-size: 16px;
}

.column:hover .hover{
  opacity:1;
  transition: opacity 0.15s linear;
}

.left{
  margin: 16px 40px 60px 0px;
  background-color:#fff;
}

.right{
  margin: 16px 0px 60px 40px;
  background-color:#fff;
}

.column img{
  width:100%;
  overflow: hidden;
  display: inherit;
}

.l-text{
  font-size: 18px;
  font-weight: bold !important;
}

.r-text{
  padding-left: 30px;
}

